/* Style Sheet */

/* Body */

body {
    font-family: 'Roboto';
    margin: 0;
}

/* Header */

.header {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #1F2937;
    padding: 10px 190px;
    color: white;
}

.header-logo-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
    align-items: center;
    flex: 1;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.information {
    display: flex;
    flex: 1;
    align-items: center;
    margin-bottom: 56px;
    gap: 16px;
}

.information .left {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: start;
    gap: 12px;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.longer-text {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    color: #F9FAF8;
    background-color: #3882F6;
    margin: 10px 0;
    border-radius: 8px;
    padding: 8px 24px;
    border: none;
}

button:hover {
    background-color: #ADD8E6;
    color: black;
}

.right {
    background-color: brown;
    display: flex;
    width: 200px;
    height: 250px;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* Content segment */

.content {
    padding: 20px 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-header {
    /* text-align: center; */
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 12px;
}

.random-infor {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* flex-wrap: wrap; */
}

.box {
    max-width: 200px;
    flex: 1;
    flex-direction: column;
    padding: 8px;
    margin: 12px;
    gap: 18px;
}

.box img{
    outline: 5px solid #3882F6;
    /* box-sizing: border-box; */
    height: 150px;
    width: 150px;
    border-radius: 16px;
    border: 0px;
    margin-bottom: 10px;
}

.text {
    flex: 1;
    text-align: center;
    font-size: 18px;
}

/* Quote segment */

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 60px 250px;
    gap: 20px;
}

.new-quote {
    font-weight: lighter;
    margin-bottom: 20px;
}

.signed {
    font-size: 24px;
    font-weight: 900;
    align-self: end;
}

/* Sign-up segment */

.sign-up2 {
    padding: 80px 200px;
}

.outside {
    border-radius: 10px;
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    padding: 40px 100px;
    align-items: center;
    justify-content: space-between;
    color: #F9FAF8;
}

.outside .left .header2{
    font-size: 24px;
    font-weight: bold;
}

.sign-up-button {
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 6px 24px;    
    border: none;
    border-radius: 8px;
    outline: 3px solid #F9FAF8;
    background-color: #3882F6;
}

/* Footer */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    font-size: 18px;
    padding: 20px;
}